body {
    background-color: #fefefe;
}
p {
    font-family: verdana;
    font-size: 15px;
}

h1{
    font-size: 0.95rem;
}
h1.total{
    display: inline-block;
    font-size: 0.95rem;
}
h2{
    font-size: 0.9rem;
    display: inline-block;
}
article {
    font-size: 0.9rem;
    margin: 20px;
}
header{
    font-weight: bold;
    text-align: center;
}
span{
 
}

input{
    margin: 7px;
    width: 130px;
}
.ecuacion{
    font-weight: bold;
    margin: 3px;
}
#entrada{
    padding: 5px;
    width:90%;
    background-color: #efefef;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
}
#output{
    width:50%;
    background-color: #ffffff;
}

#formula{
    margin: 5px;
    background-color: #ffeeee;
}
#calcular{
    border-style: solid;
    border-color: black;
    width: 200px;
    font-weight:bold;
    text-align: center;
    margin: 5px;
    background-color: yellow;
}

#nuevoP, #reset{
    border-style: solid;
    border-color: black;
    width: 200px;
    font-weight:bold;
    text-align: center;
    margin: 2px;
    background-color: orange;
}

.vof_percent{
    margin: 7px;
    background-color: cyan;
}
.porcentajes {
    display: inline-block;
    width: 100px;
}

#participantes li{
    width: 98%;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    margin: 2px;
}

label{
    Background-color: white;
}
.sub_li{
    vertical-align: text-top;
    display: inline-block;
}
.section{
    margin: 3px;
    padding: 7px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    vertical-align: text-top;
    display: inline-block;
    height: 130px;
    
}

.section1{
    width: 450px;
    margin: 3px;
    padding: 7px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    vertical-align: text-top;
    display: inline-block;
    height: 130px;
    
}

.section2{
    width: 850px;
    margin: 3px;
    padding: 7px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    vertical-align: text-top;
    display: inline-block;
    height: 130px;
    
}


